/* Setup */

* {
	box-sizing: border-box;

	margin: 0px;
	padding: 0px;

	font-family: "Poppins", sans-serif;
}

body {
	background-color: #24252a;
	color: #fff;
}

h1,
a {
	font-weight: 500px;
	font-size: 50px;
	color: #fff;

	text-decoration: none;
}

img {
	height: 100%;
	width: 100%;
}

/* Header */

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: dimgrey;
	height: 80px;
	z-index: 100;
	position: fixed;
	width: 100%;
	top: 0;
}

.header-logo {
	height: 60px;
	width: 150px;
}

.header-search {
	text-align: center;

	background-color: #24252a;
	border-radius: 40px;

	height: 60px;

	padding: 10px;
}

#hs-field {
	text-align: center;

	background: none;
	color: #fff;
	border: none;
	outline: none;

	height: 40px;
	width: 230px;

	font-size: 20px;
	line-height: 40px;
}

#hs-icon {
	display: flex;
	justify-content: center;

	background-color: #fff;

	border-radius: 40px;

	float: right;

	height: 40px;
	width: 40px;

	padding: 5px;
}

.header-nav {
	margin-top: 15px;
}
.header-navigation a {
	margin-right: 50px;
}

#hn-anchor {
	position: relative;

	margin: 5px 30px;

	font-size: 20px;
	text-transform: uppercase;
}

#hn-anchor::after {
	content: "";

	background-color: pink;

	border-radius: 20px;

	position: absolute;
	left: 0px;
	bottom: 0px;

	height: 3px;
	width: 100%;

	transform: scale(0, 1);
	transition: transform 0.5s ease;
}

#hn-anchor:hover::after {
	transform: scale(1, 1);
}

/* Banner */

.banner {
	background-image: url("../assets/banner/banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	position: absolute;
	top: 0px;
	z-index: -1;

	opacity: 0.25;

	height: 1000px;
	width: 100%;
}

/* Content */

.content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	margin: 50px;
}

/* Carousel */

.content-carousel {
	height: 500px;
	width: 50%;
}

.cc-img {
	overflow: hidden;

	opacity: 0;

	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.6);
	border-radius: 25px;

	position: absolute;

	height: 500px;
	width: 46.5%;

	transition: 1s;
}

.cc-img.active {
	opacity: 1;
}

.cc-nav {
	display: flex;
	justify-content: center;
}

.cc-div {
	cursor: pointer;

	background-color: #fff;
	border-radius: 50%;

	position: relative;
	bottom: -450px;

	height: 15px;
	width: 15px;

	margin: 10px;

	transition: 1s;
}

.cc-div.active {
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.6);

	background-color: #52a3ff;
}

/* About */

.content-about {
	text-align: center;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: relative;
	left: 0%;

	height: 500px;
	width: 40%;
}

.ca-txt {
	font-size: 20px;
}

.ca-card {
	display: flex;

	height: 200px;
	width: 550px;

	margin: 25px;
}

.ca-card img {
	height: 100px;
	width: 60%;
}

.ca-div h3 {
	color: #24252a;
}

.ca-div {
	background-color: rgba(255, 255, 255, 0.75);
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.6);
	border-radius: 25px;

	width: 200px;

	margin: 10px;
	padding: 5px;

	transition: 0.4s;

	font-size: 17px;
}

.ca-div:hover {
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);

	transform: scale(1.2);
}

/* FOOTER */

.footer {
	background-color: #24252a;

	display: flex;
	justify-content: space-evenly;
	align-items: stretch;

	height: 240px;
	width: 100%;

	padding: 25px;
}

.information {
	text-align: center;
	margin: 10px;

	height: 210px;
	width: 300px;
}

.information-title {
	position: relative;
}

.information-title::after {
	content: "";

	background-color: #fff;

	border-radius: 40px;

	position: absolute;
	left: 75px;
	bottom: 0px;

	height: 3px;
	width: 145px;
}

#icons {
	transition: 0.5s;
}

#icons:hover {
	transform: scale(1.25);
}

.payment {
	display: flex;
	justify-content: center;
	align-items: center;
}

.payment img {
	height: 100px;
	width: 100px;

	margin: 10px;
}

.disclaimer {
	text-align: center;
	margin: 10px;

	height: 175px;
	width: 300px;
}

.disclaimer-title {
	position: relative;
}

.disclaimer-title::after {
	content: "";

	background-color: #fff;

	border-radius: 40px;

	position: absolute;
	left: 85px;
	bottom: 0px;

	height: 3px;
	width: 130px;
}
